 
		
		h1{
		font-family: papyrus;
		color: purple;
		text-align: center;
		width: 700px;
		margin-left: 250px;
		
		}
		
		p{
		font-family: monaco;
		color: gray;
		width: 700px;
		line-height: 20px;
		margin-left: 250px;
		
		
		}
		img{
		margin-left: 250px;
		}
		 
 
		 
