 
		
		h1{
		font-family: papyrus;
		color: purple;
		text-align: center;
		width: 700px;
		margin-left: 300px;
		
		}
		h3{
		font-family: papyrus;
		color: purple;
		text-align: center;
		margin-left: 300px;
			

		}	
		
		p{
		font-family: monaco;
		color: gray;
		width: 700px;
		line-height: 25px;
		margin-left: 300px;
		background-color: ghostwhite;
		
		}

		img{
		margin-left: 300px;
		}

		ol{
		margin-left: 300px;
		background-color: ghostwhite;


		}

		.logo{
		margin-left: 5px;


		}
		 
 
		 
